
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
     <section class="copyright">Schule als EU: <a href="mailto:schule-als-eu@hoegy.de">schule-als-eu@hoegy.de</href></section>
  </div>
</footer>
