<section class="share">
    <h4>Beitrag teilen</h4>
    <a class="icon-twitter" href="http://twitter.com/share?url=<%- permalink %>"
       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
    </a>
    <a class="icon-google-plus" href="https://plus.google.com/share?url=<%- permalink %>"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
    </a>
</section>
